<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.speedtong.example.voip"
	android:versionCode="1"
	android:versionName="4.0.0.1" >
	<uses-sdk android:minSdkVersion="8" />
	<!-- sdk最少支持android平台2.2 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- 访问网络 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- 访问网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 访问wifi状态 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
	<uses-permission android:name="android.permission.GET_TASKS" />
	<!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- 写sd卡权限 -->
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- 震动权限、针对im -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<!-- 录音 -->
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<!-- 修改音频设置 -->
	<uses-permission android:name="android.permission.CAMERA" />
	<!-- 获取摄像头权限 -->
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<!-- 允许程序禁用键盘锁 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- 读取电话状态 -->
	<application
		android:name=".ECApplication"
		android:allowBackup="true"
		android:icon="@drawable/launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:theme="@style/AppTheme" >
		<meta-data
			android:name="LOGGING"
			android:value="true" />
		<meta-data
			android:name="ALPHA"
			android:value="true" />
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="54fe842dfd98c51e2f000885" >
		</meta-data>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="ec_voip_speedtong" />
		<activity
			android:name="com.speedtong.example.voip.ui.ECLoginActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.ECAccountChooseActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.SplashActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.CallOutActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="com.voip.demo.ACTION_VOIP_OUTCALL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.ECGetNumberToTransferActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.VideoActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="com.voip.demo.ACTION_VIDEO_OUTCALL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.CallInActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="com.voip.demo.ACTION_VOIP_INCALL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.voip.demo.ACTION_VIDEO_INTCALL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.ECBindTestPhoneUI"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.speedtong.example.voip.ui.ECLauncherUI"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service
			android:name="com.speedtong.sdk.ECClientService"
			android:exported="false" />
		<!-- 配置sdk中的服务 -->
	</application>
</manifest>